/* style.css */

#MAIN-FRAME-ai-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-S);
}

#MAIN-FRAME-ai-chat button {
  background: var(--primary-100);
}

#MAIN-FRAME-ai-chat button:active {
  background: var(--primary-300);
}

#MAIN-FRAME-ai-chat button:disabled {
  background: var(--disabled);
  filter: grayscale(1);
}

#MAIN-FRAME-ai-chat>input,
#MAIN-FRAME-ai-chat>div input,
#MAIN-FRAME-ai-chat>div textarea {
  border: 1px solid var(--tonal);
  border-radius: var(--space-B);
  padding: var(--space-B);
}


#MAIN-FRAME-ai-chat>input {
  border-radius: calc(9999*9999px);
}

#MAIN-FRAME-ai-chat>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#MAIN-FRAME-ai-chat div textarea {
  width: clamp(240px, 540px, 864px);
  min-height: 140px;
}

#MAIN-FRAME-ai-chat button:focus-visible {
  outline: 2px solid var(--primary-opaque);
}


#MAIN-FRAME-ai-chat #userNameEl,
#MAIN-FRAME-ai-chat #botNameEl,
#MAIN-FRAME-ai-chat #ratingReasonEl {
  background: var(--light-gray-accent);
  margin-top: var(--d-5px);
  padding: 6px;
}

.dark #MAIN-FRAME-ai-chat #userNameEl,
.dark #MAIN-FRAME-ai-chat #botNameEl,
.dark #MAIN-FRAME-ai-chat #ratingReasonEl {
  background: var(--dark-gray-accent);
}

#MAIN-FRAME-ai-chat #ratingReasonEl {
  margin-block: var(--space-S);
}

#MAIN-FRAME-ai-chat #auto-improve,
#MAIN-FRAME-ai-chat #autoRespondCtn {
  padding: 5px;
  border-radius: 3rem;
  border: none;
  font-size: inherit;
  background: white;
  color: inherit;
  background: var(--light-gray-accent);
  cursor: pointer;
  user-select: none;
}

#MAIN-FRAME-ai-chat #auto-improve {
  display: none;
}

#MAIN-FRAME-ai-chat textarea {
  padding: var(--space-S) !important;
  box-sizing: border-box;
  resize: vertical;
}

#MAIN-FRAME-ai-chat #chatLogsEl {
  height: 450px;
}

#MAIN-FRAME-ai-chat #inputEl {
  height: 18vh;
}

#MAIN-FRAME-ai-chat #tipEl {
  padding: var(--space-S);
}

#MAIN-FRAME-ai-chat .tipbox {
  padding: var(--space-S);
  background: var(--surface);
  border-radius: var(--d-1rem);
}

